---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Info from "../components/Info.astro";
import Project from "../components/Project.astro";
import projects from "../assets/projects.json";
import { Icon } from "astro-icon/components";
import ScrollTopButton from "../components/ScrollTopButton.astro";
---

<Layout>
  <Header />
  <main class="slide-enter-content w-fill flex flex-col items-center p-4 sm:p-8" tabindex="-1">
    <!-- <Info /> -->
    <div
      class="projects flex w-full max-w-screen-md flex-col items-center"
      style="--stagger: 2 !important;"
    >
      <h2
        class="mb-1 w-full max-w-screen-md py-6 text-center text-xl font-bold tracking-wider text-[salmon] sm:text-2xl"
      >
        ※ PROJETS ※
      </h2>
      {projects.map((p) => <Project data={p} />)}
    </div>
  </main>
  <ScrollTopButton />
</Layout>
