---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import projects from "../assets/projects.json";
---

<Layout title="Raphaël Beaugiraud">
  <Header />
  <main class="flex flex-col items-center p-8">
    {projects.map((p) => <Project data={p} />)}
  </main>
</Layout>
