---
import IconLink from "./IconLink.astro";
---

<header
  class="wrap sticky top-0 z-10 flex h-fit w-full justify-center bg-[#232634] shadow-md shadow-[#181926]"
>
  <div
    class="align-center flex w-full max-w-screen-xl flex-wrap justify-between"
  >
    <div class="w-full p-2 text-center md:p-4 lg:w-2/6 lg:text-left">
      <h1 class="text-nowrap text-2xl font-bold text-red-400 md:text-3xl">
        Raphaël Beaugiraud
      </h1>
      <h2 class="text-lg font-semibold text-gray-100 md:text-xl">
        développeur web fullstack
      </h2>
    </div>
    <div
      class="flex w-full items-center justify-center p-0 text-center text-red-400 lg:w-2/6 lg:justify-between lg:p-4"
    >
      <IconLink href="/" active={Astro.url.pathname === "/"}>PROJETS</IconLink>
      <IconLink href="/alternance" active={Astro.url.pathname === "/alternance"}
        >À PROPOS / ALTERNANCE</IconLink
      >
    </div>
    <div
      class="flex w-full items-center justify-center p-0 text-red-400 lg:w-2/6 lg:p-4"
    >
      <IconLink
        href="https://github.com/impucky"
        label="My Github page"
        icon="github"
        tab
      />
      <IconLink
        href="https://linkedin.com/in/raphael-beaugiraud"
        label="My LinkedIn page"
        icon="linkedin"
        tab
      />
      <IconLink
        href="mailto:raphael.bgrd@gmail.com"
        label="My email"
        icon="email"
        tab
      />
    </div>
  </div>
</header>
