---
import IconLink from "./IconLink.astro";
const pathname = Astro.url.pathname;
---

<header class="wrap flex h-fit w-full justify-center">
  <div
    class="align-center flex w-full max-w-screen-xl flex-wrap justify-between px-2"
  >
    <div class="w-full p-1 text-center md:p-4 lg:w-1/2 lg:text-left">
      <h1 class="text-nowrap text-2xl text-[salmon]">Raphaël Beaugiraud</h1>
      <h2 class="text-lg text-gray-300 md:text-xl">
        développeur web fullstack
      </h2>
    </div>

    <div
      class="flex w-full items-center justify-center gap-4 p-1 lg:w-1/2 lg:justify-end"
    >
      <IconLink
        href="https://github.com/impucky"
        label="My Github page"
        icon="github"
        tab
      />
      <IconLink
        href="https://linkedin.com/in/raphael-beaugiraud"
        label="My LinkedIn page"
        icon="linkedin"
        tab
      />
      <IconLink
        href="mailto:raphael.bgrd@gmail.com"
        label="My email"
        icon="email"
        tab
      />
    </div>
  </div>
</header>
