---
import { Icon } from "astro-icon/components";
---

<header
  class="sticky top-0 z-10 flex w-full justify-center bg-red-400 shadow-md shadow-slate-800"
>
  <div
    class="align-center flex w-full max-w-screen-lg flex-wrap justify-between"
  >
    <div class="w-full p-2 text-center md:w-auto md:p-4 md:text-left">
      <h1
        class="text-nowrap text-3xl font-bold text-white drop-shadow-md md:text-4xl"
      >
        Raphaël Beaugiraud
      </h1>
      <h2 class="text-xl font-semibold md:text-2xl">développeur frontend</h2>
    </div>
    <div class="flex w-full items-center justify-center p-0 md:w-auto md:p-4">
      <a
        href="mailto:raphael.bgrd@gmail.com"
        class="text-md p-2 underline transition-colors hover:text-white md:text-lg"
        >raphael.bgrd@gmail.com</a
      >
      <a
        href="https://linkedin.com/in/raphael-beaugiraud"
        aria-label="My Linkedin page"
        target="_blank"
        class="p-2 transition-colors hover:text-white"
      >
        <Icon class="text-3xl md:text-4xl" name="linkedin" />
      </a>
      <a
        href="https://github.com/impucky"
        aria-label="My Github page"
        target="_blank"
        class="p-2 transition-colors hover:text-white"
      >
        <Icon class="text-3xl md:text-4xl" name="github" />
      </a>
    </div>
  </div>
</header>
