---
import { Icon } from "astro-icon/components";
const { href, icon, label, tab, active } = Astro.props;
---

<a
  href={href}
  aria-label={label}
  target={tab ? "_blank" : ""}
  class={`p-2 text-lg font-bold transition-colors hover:text-white focus:text-white focus:underline hover:underline md:text-xl ${active ? "underline text-red-200" : "text-red-400 "}`}
>
  <slot />
  {icon && <Icon class="inline text-3xl md:text-4xl" name={icon} />}
</a>
