---
import { Icon } from "astro-icon/components";
const { href, icon, label, tab, active } = Astro.props;
---

<a
  href={href}
  aria-label={label}
  target={tab ? "_blank" : ""}
  title={label}
  class={`transition-colors hover:text-white focus:text-white focus:underline hover:underline text-base ${active ? "underline text-gray-200" : "text-[salmon]"}`}
>
  <slot />
  {icon && <Icon class="inline text-2xl" name={icon} />}
</a>
