---
import { Icon } from "astro-icon/components";
const { href, icon, tab } = Astro.props;
---

<div class="flex items-center justify-center">
  →
  <a
    href={href}
    target={tab ? "_blank" : ""}
    class="flex items-center p-1 text-xl text-red-400 hover:text-red-200 hover:underline"
  >
    <slot />
    {icon && <Icon class="ml-1 text-3xl" name={icon} />}
  </a>
</div>
