---
import IconLink from "./IconLink.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import photo from "../assets/photo.jpg";
---

<div class="flex flex-col items-center px-2 text-gray-300">
  <Image
    class="h-24 w-auto rounded-full drop-shadow-md sm:h-28"
    src={photo}
    alt="Photo Raphaël Beaugiraud"
  />
  <div class="flex max-w-xl flex-col gap-2 p-2 text-justify">
    <p class="text-center text-lg">Bonjour !</p>
    <p>
      Je suis à la recherche d'une alternance pour un titre de <b
        >Concepteur Développeur d'Applications</b
      > à partir de <b>mars 2025</b>, pour <b>18 mois</b> avec un rythme de <b
        >3 semaines en entreprise / 1 semaine en formation</b
      >.
    </p>
    <p class="text-center">
      Je suis accompagné par l'organisme <a
        href="https://simplon.co/"
        target="_blank">Simplon</a
      ><p class="text-center">
        Chargée de formation: <b>Leslie Bitene-Verrier</b><br /><a
          href="mailto:lbitene@simplon.co">lbitene@simplon.co</a
        >
      </p>
    </p>
    <div class="mt-2 flex w-full flex-col items-center gap-2">
      <IconLink
        href="/cv_raphael_beaugiraud_alternance_cda.pdf"
        icon="download"
        tab>• Mon CV</IconLink
      >
      <IconLink href="/plaquette_simplon_cda_2025.pdf" icon="download" tab
        >• Plaquette de la formation</IconLink
      >
      <IconLink href="/calendrier_simplon_cda_2025.pdf" icon="download" tab
        >• Calendrier de la formation</IconLink
      >
    </div>
  </div>
</div>

<style>
  a {
    color: salmon;
    transition: color 0.2s;
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
</style>
