---
import IconLink from "./IconLink.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import photo from "../assets/photo.jpg";
---

<div
  class="slide-enter-content flex max-w-screen-md flex-col items-start gap-2 text-left text-base"
>
  <p><b>Bonjour !</b></p>
  <p>Je suis développeur web fullstack avec une affinité pour le TypeScript, Node et React.</p>
  <p>
    Après un parcours autodidacte, du jQuery et les DOCTYPEs à rallonge des années 2000 jusqu'au
    riche écosystème du web moderne, je souhaite aujourd'hui concrétiser mes acquis dans le cadre
    d'un contrat de professionnalisation.
  </p>
  <p>
    Je recherche une entreprise pour préparer un titre
    <b>Concepteur Développeur d'Applications</b> en alternance, pour
    <b>18 mois</b> à partir d'<b>octobre 2025</b>.
  </p>
  <p>
    Le rythme est de <b>3 semaines</b> en entreprise, <b>1 semaine</b>
    en formation.
  </p>
  <p>
    Je suis accompagné par l'organisme
    <a href="https://simplon.co/" title="Simplon.co" target="_blank"> Simplon </a>.
  </p>
  <p>
    Chargée de formation: <i>Leslie Bitene-Verrier</i> -
    <a href="mailto:lbitene@simplon.co">lbitene@simplon.co</a>
  </p>
  <IconLink
    href="/cv_raphael_beaugiraud_alternance_cda.pdf"
    icon="download"
    label="Mon CV (pdf)"
    tab
  >
    ※ Mon CV
  </IconLink>
  <IconLink
    href="/plaquette_simplon_cda_2025.pdf"
    icon="download"
    label="Plaquette de la formation (pdf)"
    tab
  >
    ※ Plaquette de la formation
  </IconLink>
  <IconLink
    href="/calendrier_simplon_cda_2025.pdf"
    icon="download"
    label="Calendrier de la formation (pdf)"
    tab
  >
    ※ Calendrier de la formation
  </IconLink>
</div>

<style>
  a {
    color: salmon;
    transition: color 0.2s;
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
  b {
    color: #cdd6f4;
    font-weight: 500;
  }
</style>
